@use "../../assets/sass/var";

.main {
  max-width: 1240px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  color: var.$primary;

  .section {
    
    margin-top: 5%;
    margin-bottom: 5%;

    .bannerMobile,
    .bannerDesktop {
      width: 100%;
      object-fit: cover;
      @include var.radius;
    }
    .bannerDesktop {
      display: none;
    }
  }
  @include var.tab {
    max-width: 1220px;
    .section {
      img {
        display: none;
      }
      .bannerMobile {
        display: none;
      }
      .bannerDesktop {
        display: none;
      }
    }
  }
}
