@use "../../assets/sass/var";
@use "../../assets/sass/bases";

section {
  @include var.flexbox($display: flex, $direction: row, $alignItems: center);
  margin: 4% 0% 8% 0%;
  img {
    width: 100%;
    object-fit: cover;
    @include var.radius;
  }
}
