@use "../../assets/sass/var";
//@use '../../components/Collapse/Collapse.module.scss';
.main {
  font-weight: 500;
  width: 96%;
  max-width: 1240px;
  margin: auto;
  color: var.$primary;
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
  .container {
    @include var.flexbox(
      $display: flex,
      $justifyContent: space-between,
      $alignItems: flex-end
    );
  }
  .item {
    margin-top: 5px;
  }
  @include var.tab {
    .containBig {
      @include var.flexbox(
        $display: flex,
        $justifyContent: space-between,
        $alignItems: center
      );
      .contain {
        width: 50%;
        h1 {
          font-size: 36px;
        }
        h2 {
          font-size: 18px;
        }
      }
      .container {
        flex-direction: column-reverse;
      }
    }
    .list {
      @include var.flexbox(
        $display: flex,
        $justifyContent: space-between,
        $alignItems: flex-start
      );
      article{width: 48%;}
    }
  }
}
