@use "../../assets/sass/var";
//@use '../../components/Collapse/Collapse.module.scss';
.main {
  font-weight: 500;
  width: 96%;
  max-width: 1240px;
  margin: auto;
  color: var.$primary;
  .contain {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    h1 {
      font-size: 18px;
      line-height: 1.5rem;
      
    }
    h2 {
      font-size: 14px;
    }
  }
  .container {
    @include var.flexbox(
      $display: flex,
      $justifyContent: space-between,
      $alignItems: flex-end
    );
  }
  .item {
    margin-top: 5px;
  }
  @include var.tab {
    .containBig {
      @include var.flexbox(
        $display: flex,
        $justifyContent: space-between,
        $alignItems: center
      );
      .contain {
        gap: 0.8rem;
        h1 {
          font-size: 36px;
          margin-bottom: 10px;
        }
        h2 {
          font-size: 18px;
        }
      }
      .container {
        flex-direction: column-reverse;
        gap: 2rem;
      }
    }
    .list {
      @include var.flexbox(
        $display: flex,
        $justifyContent: space-between,
        $alignItems: flex-start
      );
      article {
        width: 48%;
      }
    }
  }
}
