@use "../../assets/sass/var";
.section {
  width: 50%;
  img {
    width: 15px;
  }
  @include var.tab {
    width: 100%;
    @include var.flexbox(
      $display: flex,
      $direction: row,
      $justifyContent: space-between
    );
    img{
        width: 30px;
    }
  }
}
