@use "../../assets/sass/var";
@use '../../assets/sass/bases';

.main {
  max-width: 1240px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  article img {
    height: 111px;
    @include var.tab{
      height: 223px;
    }
  }
  
}
