@use "../../assets/sass/var";


.section {
  
  @include var.flexbox(
    $display: flex,
    $direction: column,
    $wrap: wrap,
    $justifyContent: center
  );
  margin: auto;
  gap: 20px;
  a {
    position: relative;
    img {
      width: 100%;
      min-height: 255px;
      max-height: 255px;
      object-fit: cover;
      mix-blend-mode: darken;filter: brightness(0.9);
      @include var.radius;
    }
    h2 {
      position: absolute;
      color: var.$secondary;
      bottom: 5%;
      font-size: 18px;
      padding-left: 10px;
    }
  }
  @include var.desk {
    flex-direction: row;
    background-color: var.$tertiary;
  @include var.radius;
    padding: 40px;
    justify-content: center;
    
      img {
        max-width: 340px;
        height: 340px;
        min-height: 340px;
        max-height: 340px;
      
    }
  }
}
