@use "../../assets/sass/var";

.host {
  @include var.flexbox(
    $display: flex,
    $alignItems: center,
    $justifyContent: flex-end
  );

  .name {
    font-size: 12px;
    width: 50%;
  }
  img {
    border-radius: 50%;
    width: 32px;
  }
  @include var.tab{
    width: 50%;
    .name {
      font-size: 18px;
      width: 100%;
      padding-right: 1rem;
    }
    img {
      width: 60px;
    }
  }
}
