@use "../../assets/sass/var";

.collapse {
  button {
    @include var.flexbox(
      $display: flex,
      $justifyContent: space-between,
      $alignItems: center
    );
    font-size: 12px;
    color: var.$tertiary;
    width: 100%;
    background-color: var.$primary;
    border: unset;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 5px;
    @include var.radius;

    .fleche {
      margin: 0.5rem;
    }
  }
  .description {
    font-size: 12px;
    min-height: 5rem;
    background-color: var.$tertiary;
    border-radius: 0px 0px 10px 10px;
    padding: 17px;
  }
  @include var.tab {
    button, .description  {
      font-size: 18px;
    }
  }
}
