@use "../../assets/sass/var";

.contain {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 255px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @include var.radius;
  overflow: hidden;

  div {
    .image {
      min-height: 255px;
      max-height: 255px;
      width: 100%;
      object-fit: cover;
      mix-blend-mode: darken;
      filter: brightness(0.9);
    }
  }
  .counter {
    z-index: 1;
    color: var.$secondary;
    position: absolute;
    bottom: 1%;
    right: 50%;
    font-weight: 900;
  }
  .flecheDroite,
  .flecheGauche {
    position: absolute;
    top: 40%;
    cursor: pointer;
  }
  .precedente .flecheGauche {
    left: 0rem;
  }
  .suivante .flecheDroite {
    right: 0rem;
  }
  @include var.tab {
    height: 420px;
    div {
      .image {
        min-height: 420px;
        max-height: 420px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
