@use "../../assets/sass/var";

.contain {
  margin-top: 20px;
  
  height: 255px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @include var.radius;
  overflow: hidden;
  div {
    .image {
      min-height: 255px;
      max-height: 255px;
      width: 100%;
      object-fit: cover;
      mix-blend-mode: darken;
      filter: brightness(0.9);
    }
  }
  .counter {
    display: none;
  }
  .flecheDroite,
  .flecheGauche {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 12px;
  }
  .precedente .flecheGauche {
    left: 0.5rem;
  }
  .suivante .flecheDroite {
    right: 0.5rem;
  }
  @include var.tab {
    height: 420px;
    div {
      .image {
        min-height: 420px;
        max-height: 420px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .flecheDroite,
    .flecheGauche {
      top: 40%;
      width: 47px;
    }
    .counter {
      display: block;
      z-index: 1;
      color: var.$secondary;
      position: absolute;
      bottom: 1%;
      right: 50%;
      font-weight: 900;
    }
  }
}
