@use "../../assets/sass/var";


.section {
  @include var.flexbox($display: flex, $direction: row, $alignItems: center);
  position: relative;

  margin: 4% 0% 8% 0%;
  h1{
    position: absolute;
    color: var.$secondary;
    font-size: 24px;
    margin-left: 5%;
    width: 65%;
  }
  img {
    width: 100%;
    object-fit: cover;
    @include var.radius;
  }
  @include var.tab {
    h1{
        text-align: center;
        font-size: 48px;
        width: 100%;
        margin-left: 0%;
    }
    img {
      max-height: 223px;
    }
  }
}
